header{
    background-color: #e24647;
}
h1,a{
    color: #ffffff;
}
h1{
    font-size: 40px;
    font-family: 'ArialMT',sans-serif;
}
a{
    font-size: 21px;
    font-family: 'Segoe UI',sans-serif;
    text-decoration: none; /*Retira o sublinhado do link.*/
    
}